@import '../1.Mainwebsite/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
  font-family: serif;
}

/* Body styles */
body {
  background-color: #ffffff;
}

/* Header styles */
header{
  text-align: center;
  h1{
      display: inline-block;
      margin-top: 35px;
      margin-bottom: 100px;
      margin-left: 150px;
      font-size: 2rem;
      color: #FFB000;
      background-color: #004225;
      border-radius: 20px;
      padding: 20px;
  }
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}



/* Sidebar styles */
.sidebar {
    // position: absolute; /* Make it fixed to the left */
    // width: 200px;
    // padding-right: 20px;
    // padding: 20px;
    // // top: 180px; /* Stick to the top of the viewport */
    // left: 0; /* Stick to the left of the viewport */
    // height: 100%; /* Full height of the viewport */
    display: flex;
    position: absolute;
    width: 250px;
    inset-block: 0;
    inset-inline-start: 0;
    padding: 0 0 0 10px;
    margin-top: 160px;
    
    height: 400px;
    .links{
      margin-bottom: 30px;
    }
  }
  
  .sidebar a{
    padding: 0px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
  }
  .sidebar i{
    padding: 0;
    font-size: 1.8rem;
    line-height: 0.9;
    vertical-align: bottom;
    color: black;
    cursor: pointer;
  }
  .sidebar a:hover,
  .sidebar i:hover{
    color: #a5a5a5;
  }

  
/* Form section */
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 150px;
}

/* Form styles */
.form-container {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0 30px 0 30px;
  
  .form-information{
    padding: 0 0 15px 0;
  }

  h2{
    margin-bottom: 20px;
    text-align: center;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
      }
      input,
      textarea {
        width: 100%;
        padding: 15px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 1.2rem;
      }
      button {
        background-color: #004225;
        color: #ffffff;
        padding: 15px 25px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        
      }
      button:hover {
        background-color: #FFB000;
      }
      .input{
        width: 80%;
      }

      .description-input{
        width: 80%;
      }
    }

    
    .options{
      display: flex;
      flex-direction: column;
    }
    
    